

.fa-cog:before,.fa-commenting-o:before,.fa-gear:before,.fa-group:before,.fa-users:before {
    content: ""
}

.s1.fa.fa-user.label.badgex.label-as-badge.label-success {
    background-color: transparent
}

.btn-primary {
        background-image: linear-gradient(90deg,#919191 0,#F0F0F0 10%,#000000 51%,#F0F0F0 89%,#919191 100%);
    border-color: #24558000!important;
    border-radius: 15px!important
}


.label-primary, .btn-primary {
    background-color: #000000!important;
    border: 1px solid transparent;
}


.ae.label.label-primary.fa.fa-gear {
    color: #ffd900
}

.border {
	border: 1px solid transparent;
    border-radius: 22px!important
}

.fr.borderg, .fr.borderg a {
    border-radius: 15px!important;
    background-color: #1c91a7!important;
        background-image: linear-gradient(90deg,#919191 0,#F0F0F0 10%,#000000 51%,#F0F0F0 89%,#919191 100%);
    border: black solid 0px;
    color: #fff;
}

.light {
    background-color: #efe1e1;
}

.bg {
    background-color: #919191;
}

#des3,#des4 {
    text-align: center!important
}

#des4, label.label.label-primary.mini.fl {
        background-image: linear-gradient(90deg,#919191 0,#F0F0F0 10%,#000000 51%,#F0F0F0 89%,#919191 100%);
}



div#l1 input#u1,div#l3 button {
    width: 99%;
    margin-left: 1px
}

div#l2 button,div#l3 button {
    border: 1px solid #ccc!important;
    border-radius: 24px!important;
    height: 27px;
	padding: 0px 5px;
}

div#l1 input#u1 {
    border-radius: 15px;
    border: 1px solid #e1e0e0;
    margin-top: 3px;
    text-align: center
}

div#l2 input#pass1,div#l2 input#u2,div#l3 input#pass2,div#l3 input#u3 {
    width: 49%;
    padding: 0!important;
    float: right;
    margin: 2px 5px 2px 0
}

div#l2 input#u2,div#l3 input#u3 {
    margin-left: -6px;
    border-radius: 15px;
    border: 1px solid #e1e0e0;
    text-align: center
}

div#l2 input#pass1,div#l3 input#pass2 {
    border-radius: 15px;
    border: 1px solid #e1e0e0;
    text-align: center
}

div#l2,div#l3 {
    padding: 2px!important
}

div#l1 {
    margin: 0 1px -18px;
    padding: 0!important
}

div#l1,div#l2,div#l3 {
    border-bottom: 2px solid;
    margin-bottom: 2px;
    border-top: 2px solid;
    margin-top: 0;
    border-color: #bababa;
    border-radius: 15px;
    height: 69px
}

div#l1 button {
    border: 1px solid #ccc!important;
    border-radius: 24px!important;
    width: 99%;
    height: 27px;
    padding: 0px 5px;
}

div#l2 button {
    width: 70%
}

label.fl.label.loginstat {
    border-radius: 15px!important;
    position: absolute;
	margin-top: 2px;
    margin-left: -1px!important
}

div.label.label-primary {
    font-family: none!important
}


a.label.label-primary.fl img.fl,button.btn.fr.btn-success.fa.fa-refresh,div#l2 br,div#l3 br {
    display: none
}

#des4,.des2,div#l1 input#u1 {
    border-radius: 15px!important
}

.des2 {
    background-color: #fff;
    border-radius: 0;
    padding: 2px 10px;
    margin: 3px 8px!important
}

#des3 {
    text-decoration: dotted;
    color: #fff;
    margin-left: 2px!important;
    display: inline-block;
    margin-right: 4.4px!important
}

#des4 {
    color: #f9f9f9!important;
    font-size: 13px!important
}

.fr.borderg,.fr.borderg a {
    margin-top: 5px
}

.fr.co,div#tlogins img.fr.co {
    border-radius: 3px!important;
    height: 10px
}

.checkbox {
    margin-top: 3px!important;
    margin-left: -1px!important;
    position: fixed;
    float: right
}

.fa.fa-user-secret {
    color: #000000;
    margin-top: 4px!important
}

label.label.label-primary.mini.fl {
    width: 58.5%!important;
    padding: 1px;
    margin-top: 0;
    border-radius: 15px!important
}

div#tlogins ::-webkit-scrollbar {
    width: 5px;
    height: 10px
}

div#tlogins ::-webkit-scrollbar-button {
    width: 5px;
    height: 5px
}

div#tlogins ::-webkit-scrollbar-thumb {
    background: 0 0;
    border: 71px #fff;
    border-radius: 31px;
        background-image: linear-gradient(90deg,#919191 0,#F0F0F0 10%,#000000 51%,#F0F0F0 89%,#919191 100%);
}

div#tlogins ::-webkit-scrollbar-thumb:active {
    background: 0 0
}

div#tlogins ::-webkit-scrollbar-track {
    background: #fff;
    border: 65px #fff;
    border-radius: 34px
}

div#tlogins ::-webkit-scrollbar-track:hover {
    background: 0 0
}

div#tlogins ::-webkit-scrollbar-track:active {
    background: 0 0
}

div#tlogins ::-webkit-scrollbar-corner {
    background: 0 0
}

div#tlogins .fl.mini.u-msg {
    margin-top: 3px!important;
    border-radius: 3px!important
}

ul.nav.nav-tabs>li>a {
    color: #fff;
    border: none;
    text-align: center;
        background-image: linear-gradient(90deg,#919191 0,#F0F0F0 10%,#000000 51%,#F0F0F0 89%,#919191 100%);
    border-radius: 3px;
    display: initial;
    width: 80%;
    float: left;
    padding: 0!important;
}

ul.nav.nav-tabs>li.active>a {
    color: #fff;
        background-image: linear-gradient(90deg,#919191 0,#F0F0F0 10%,#000000 51%,#F0F0F0 89%,#919191 100%);
    border: none;
    border-radius: 3px;
}

ul.nav.nav-tabs>li {
    width: 32%;
    margin: 0 5px 0 0;
}

ul.nav.nav-tabs>li>.fa-user-plus:before,ul.nav.nav-tabs>li>.fa-user:before,ul.nav.nav-tabs>li>.fa-user:before {
    float: right;
    margin-right: -26%;
    border: 1px solid;
    padding: 0 2px 1px;
    border-radius: 3px;
    width: 23px;
    text-align: center;
        background-image: linear-gradient(90deg,#919191 0,#F0F0F0 10%,#000000 51%,#919191 89%,#F0F0F0 100%);
    color: #fff;
}



.nav>li>a:focus,.nav>li>a:hover {
    color: #9abff9;
}

ul.nav.nav-tabs {
    margin-top: -4px;
    float: right;
    width: 100%;
    padding: 1px 1px;
}

div#tlogins .hand.nosel.fl.uzr.border {
    background-image: linear-gradient(90deg,#d0d0d0 0,#d0d0d0a1 10%,#d0d0d05c 51%,#f8f8f8 89%,#f8f8f8 100%);
    width: 99% !important;
    margin-top: 2px !important;
    border: 1px !important;

}

div#tlogins .hand.nosel.fl.uzr.border {
    box-shadow: inset 1px 1px 1px 0 #ffffff, 0 0 2px #ffffff00;
}

#des0 {
    border-radius: 15px;

    height: 19px;

    font-size: 14px !important;
    color: #fff;
    padding: 0px 0 !important;

}

#des0 {
	    background-image: linear-gradient(90deg,#919191 0,#F0F0F0 10%,#000000 51%,#919191 89%,#F0F0F0 100%);

}
